body{
    background-color: rgb(14, 14, 32);
}
.navbar{
    background-color: rgb(207, 218, 60);
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.heading{
    font-size: 4vw;
    font-weight: bold;
    color:rgb(13, 14, 17);
}
.inpdiv{
    display: flex;
    flex-direction: column;
    gap:40px;
    color:rgb(180, 184, 253);
    font-size: 20px;
}
.divform{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(25, 25, 26, 0.37);
    border:solid 1px rgb(207, 218, 60);
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
.line{
    height:6px;
    background-color: rgb(219, 219, 240);
}
.inp{
    width:30vw;
}
.subtn{
    margin-top: 6%;
    margin-bottom: 3%;
    width:37%;
}
h2{
    margin-top: 5%;
    color: rgb(180, 184, 253);
}
.selectdiv{
    display: flex;
    flex-direction: column;
    color:rgb(180, 184, 253);
    font-size: larger;
    margin-bottom: 3%;
}
.q2 ,.q1 , .q3 , .q4,.q5{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    font-size: 2vw;
}
.htmlquiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue;
}
.options{
    margin-top: 10px;
}
.next{
    margin-top: 10px;
}#htmlq{
    color:rgb(180, 184, 253);
    margin-bottom: 7%;
}
.result{
    display: flex;
    color:rgb(180, 184, 253);
    justify-content: center;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 10%;
    margin-top: 5%;
    gap:7px;
}
.sinp{
    width:5vw;
}

.opinp{
    height:1.3vw;
    width:1.3vw;
    border: solid black;
    border-radius: 30px;
}
#bg{
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
    z-index: -1;
}
@media screen and (max-width:480px)
{
    .heading{
        font-size: 8vw;
        color:rgb(37, 30, 63);
    }
    .divform{
        margin-top: 34%;
        backdrop-filter: blur(3px);
        width:87%;
  
    }
    .inpdiv{
        width:65vw;
    }
    .newc{
        display: flex;

    }
    .inp{
        margin-left: 5%;
        width:45vw;
        background-color: rgba(143, 143, 143, 0.575);
        border-radius: 8px;
        border:solid 1px 0px;
    }
    .htmlquiz{
        width:100%;
    }
    .q1,.q2,.q3,.q4,.q5{
        width:100%;
        font-size: 4.6vw;
    }
    .opinp{
        width:10px;
        height:10px;
        margin-right: 2%;
    }
    .result{
        font-size: 4.5vw;
    }
}